DB_PORT=<the database connection port>
DB_USER_NAME=<the database user name>
DB_PASSWORD=<the database password>
DB_NAME=<the database name>
DB_URL=<the base url of the db ex: localhost>


### MinIO admin credentials

# admin credentials, these are specific because they are pre-built with the MinIO image 
MINIO_USER_NAME=<the minio server user name>
MINIO_PASSWORD=<the minio server user password>

# s3 back end user credentials
S3_BACK_END_ACCESS_KEY=<the s3 back end user access key> 
S3_BACK_END_SECRET_KEY=<the s3 back end user secret key> 
S3_ENDPOINT_URL=<the url to the s3 endpoint>

