DB_PORT=<the database connection port>
DB_USER_NAME=<the database user name>
DB_PASSWORD=<the database password>
DB_NAME=<the database name>
DB_URL=<the base url of the db ex: localhost>


MINIO_USER_NAME=<the minio server user name>
MINIO_PASSWORD=<the minio server user password>
