DB_PORT=<the database connection port>
DB_USER_NAME=<the database user name>
DB_PASSWORD=<the database password>
DB_NAME=<the database name>
DB_URL=<the base url of the db ex: localhost>


### Spring profiles

# the active spring profile. 'Test' disables security, any other value
# (ex: Keycloak) activates the Keycloak resource server
APP_PROFILE=<Test or Keycloak>


### Keycloak

# the issuer uri of the keycloak realm, used by the back end to validate tokens
KEYCLOAK_ISSUER_URI=http://localhost:<the keycloak port>/realms/<the keycloak realm>

# base url of the keycloak server, used by the back end to call the Admin REST API
KEYCLOAK_URL=http://localhost:<the keycloak port>

# credentials of the service-account client used to call the Admin REST API
# (must match the "school_clubs_management_backend" client in keycloak/realm.json)
KEYCLOAK_ADMIN_CLIENT_ID=school_clubs_management_backend
KEYCLOAK_ADMIN_CLIENT_SECRET=<the backend service account client secret>


### MinIO admin credentials

# admin credentials, these are specific because they are pre-built with the MinIO image 
MINIO_USER_NAME=<the minio server user name>
MINIO_PASSWORD=<the minio server user password>

# s3 back end user credentials
S3_BACK_END_ACCESS_KEY=<the s3 back end user access key> 
S3_BACK_END_SECRET_KEY=<the s3 back end user secret key> 
S3_ENDPOINT_URL=<the url to the s3 endpoint>


### Keycloak

# host port on which the Keycloak server will be exposed
KEYCLOAK_PORT=<the keycloak port ex: 8082>

# name of the realm, must match the "realm" field in keycloak/realm.json
KEYCLOAK_REALM=school_clubs_management_system

# initial admin (bootstrap) credentials for the Keycloak admin console
KEYCLOAK_ADMIN_USER=<the keycloak admin user name>
KEYCLOAK_ADMIN_PASSWORD=<the keycloak admin password>

# url that keycloak will call to notify the back end of keycloak events.
# host.docker.internal resolves to the host machine (where the back end runs)
KEYCLOAK_WEBHOOK_BASE_PATH=http://host.docker.internal:8080/api/webhooks/keycloak/user-registered

# basic auth credentials keycloak uses to call the webhook (must match the back end configuration)
KEYCLOAK_WEBHOOK_USERNAME=<the keycloak webhook user name>
KEYCLOAK_WEBHOOK_PASSWORD=<the keycloak webhook password>

